body{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.Titulo, input, p, li, h2, .tostada{
  font-family: sans-serif;
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul, .historial, .listaHistorial{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
